*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    height: 100vh;
    display: grid;
    grid-template: 60px 1fr 60px/ 1fr ;
    background-color: rgb(199, 246, 246);

}

header{
    display: flex;
    justify-content: space-between;
    background-color: orangered;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.container-video{
    height:800px;
    align-items: center;
}
footer{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: orangered;
}
@media screen and (max-device-width : 480px) {
    .conteudo{
        grid-template-columns: 1fr;
    }
    .container-video{
        height: 200px;
    }
     /* celulares */
     }